.pio/
.vscode/
__pycache__/
settings
Debug
*.py[cod]
*$py.class
*__pyc*/
*.DS_Store
*.autosave
*~
*#
Change*
CHANGE*
README*
COPY*
*CONTRIBU*
LICENSE*
HACKING*
Doxyfile
*.swp
*.lck
*.log
*.ewt
*.ewd
*.crf
*.dep
*.map
*.hex
*.bin
*bak
# *.txt
*.lst
*.sct
*.elf
# *.ini
*.gbr
*.drl
*.ods
*.odg
*.csv
*.xml
*.pdf
*.xlsx
*.zip
*.xcf
# *.png
# *.jpg
*.rst
*.srec
*.uvgu*
.gitmodules
.settings
.travis.yml
doc
*dox
tests
# docs
# mk
*.md
*.so
*.dcm
